.title {
    text-align: center;
    margin-top: 25px;
    font-weight: bolder;
}

body {
    background-color: salmon;
}

img{
    align-items: center;
}

.form {
    margin: auto;
    max-width: 800px;
    text-align: center;
}

input[type='submit'],button,[aria-label] {
    cursor: pointer;
}

#edit-box {
    display: none;
    max-width: 100px;
    margin: auto;
    margin-top: 10px;
    text-align: center;
}

table {
    table-layout: fixe;
}

td {
    background-color: white;
    text-align: center;
    font-weight: bold;
    font-size: larger;
    color: black;
}

.to-do {
    font-size: x-large;
    font-family: monospace;
}